.App h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
}

.App h2 {
    font-size: 1em;
    font-weight: bold;
}

.App .menu {
    width: 50%;
    float: right;
    padding: 20px 0;
    text-align: right;
}

.App a {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    color: #000;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.App .display-linebreak {
    white-space: pre-line;
}
