.Cocktail {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
}

.Cocktail h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.Cocktail h2 {
    font-size: 1em;
    font-weight: bold;
}

.Cocktail button {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    text-align: left;
    cursor: pointer;
}

.Cocktail-info {
    display: none;
}

.Cocktail-info.expanded {
    display: block;
}