.Cocktail-list {
  clear: both;
}

.Cocktail-list fieldset {
  border: 0;
  padding: 0;
}

.Cocktail-list input[type="text"] {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  padding: 20px 0;
  display: block;
  width: 100%;
  text-indent: 1em;
}